<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UsingTestData" value="1" />
    <!--0表示不使用cms初始创建的栏目-->
    <add key="FCKeditor:BasePath" value="/_libs/fckeditor/" />
    <add key="JumboECMS:WebmasterEmail" value="791104444@qq.com" />
    <!--都以这个Email的名义发信-->
    <add key="AutoTask:SiteUrl" value="" />
    <add key="AutoTask:Password" value="ED3434F56B7CD89E0F12BC423A" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="1024000"/>
    <compilation
         defaultLanguage="c#"
         debug="true"
    />
    <authentication mode="Windows"/>
    <pages
          validateRequest="false"
          enableSessionState="true"
          enableEventValidation="false"
          enableViewStateMac="false"
          viewStateEncryptionMode="Never">
    </pages>
    <httpHandlers>
      <add verb="*" path="file.axd" type="JumboECMS.Common.Handler.FileHandler" validate="false"/>
      <add verb="*" path="*.flv" type="JumboECMS.Common.Handler.FlvHandler" validate="false" />
    </httpHandlers>
    <httpModules />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=EmulateIE7" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>