<?xml version="1.0" encoding="utf-8" ?>
<Module>
  <article>
    <lastid>0</lastid>
    <lasttime><![CDATA[1999-1-1 01:01:01]]></lasttime>
  </article>

  <photo>
    <lastid>0</lastid>
    <lasttime><![CDATA[1999-1-1 01:01:01]]></lasttime>
  </photo>
  <soft>
    <lastid>0</lastid>
    <lasttime><![CDATA[1999-1-1 01:01:01]]></lasttime>
  </soft>
  <video>
    <lastid>0</lastid>
    <lasttime><![CDATA[1999-1-1 01:01:01]]></lasttime>
  </video>
  <product>
    <lastid>0</lastid>
    <lasttime><![CDATA[1999-1-1 01:01:01]]></lasttime>
  </product>
  <document>
    <lastid>0</lastid>
    <lasttime><![CDATA[1999-1-1 01:01:01]]></lasttime>
  </document>
  <paper>
    <lastid>0</lastid>
    <lasttime><![CDATA[1999-1-1 01:01:01]]></lasttime>
  </paper>
</Module>
