<?xml version="1.0" encoding="utf-8" ?>
<Pages>
  <Site>
    <P><![CDATA[<#SiteDir#>index.html]]></P>
  </Site>
  <Category>
    <P_1><![CDATA[<#SiteDir#><#CategoryFilePath#>index.html]]></P_1>
    <P_N><![CDATA[<#SiteDir#><#CategoryFilePath#>index_*.html]]></P_N>
  </Category>
  <!--这与后台紧密结合，请勿随意改动-->
  <View>
    <P_1><![CDATA[<#SiteDir#><#CategoryFilePath#><#id#>.html]]></P_1>
    <P_N><![CDATA[<#SiteDir#><#CategoryFilePath#><#id#>_*.html]]></P_N>
  </View>
  <!--这与后台紧密结合，请勿随意改动-->
</Pages>

