<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh_cn" xml:lang="zh_cn" style="height: 100%; width: 100%;">
<script type="text/javascript" src="marquee.js"></script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{this.page.Title}</title>
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="keywords" content="{this.page.Keywords}" />
    <meta name="description" content="{this.page.Description}" />
<script type="text/javascript" src="marquee.js"></script>
</head>
<body style="margin: 0px; height: 100%; width: 100%;">
    <div style="position: relative; height: 100%; width: 100%;">
        <embed type="application/x-shockwave-flash" src="04.swf" height="100%" width="100%" wmode="opaque" />
        </embed>
        <marquee behavior="alternate" style="position: absolute; top: 1%; margin: 0 0 0 0; font-size: 2em; color:red; background-color: transparent; ">热烈庆祝浙江创源环境科技股份有限公司正式挂牌</marquee> 
<script type="text/javascript" src="marquee.js"></script>
        <button style="position: relative; position: absolute; top: 6%; left: 40%; margin: 0 0 0 0; font-size: 2em; background-color: transparent; " onclick="javascript:location.href='cn/index.html'">进入网站</button>
    </div>
    
</body>
</html>

