body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,select,optgroup,option,p,blockquote,th,td {
	margin:0;
	padding:0;
}
em{	font-size:12px;}
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    _zoom: 1;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,i,th,var,optgroup {
	font-style:normal;
	font-weight:normal;
}
ins {
	text-decoration:none;
}
li {
	list-style:none;
}
table {
	font-size:inherit;
	font:100%;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
	font-variant:normal;
}
legend {
	color:#000;
}
input,button,textarea,select,optgroup,option {
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
}
input,button,textarea,select {
	margin:0;
	*font-size:100%;
	line-height:1.2;
}
a img,img {
	-ms-interpolation-mode:bicubic;
}
.richtext {
	font-size:12px;
	width:100%;
	overflow:hidden;
	position:relative;
}
.richtext h1 {
	font-size:18px;
}
.richtext h2 {
	font-size:16px;
}
.richtext h3 {
	font-size:14px;
}
.richtext h1,.richtext h2,.richtext h3 {
	margin:12px 0;
}
.richtext abbr,.richtext acronym {
	border-bottom:1px dotted #000;
	cursor:help;
}
.richtext blockquote,.richtext ul,.richtext ol,.richtext dl {
	margin:12px;
}
.richtext ol,.richtext ul,.richtext dl {
	margin-left:24px;
}
.richtext ol li {
	list-style:decimal outside;
}
.richtext ul li {
	list-style:disc outside;
}
.richtext dl dd {
	margin-left:12px;
}
.richtext table {
	border-collapse:collapse;
	border-spacing:0;
}
.richtext th,.richtext td {
	border:1px solid #000;
	padding:6px;
}
.richtext th {
	font-weight:bold;
	text-align:center;
}
.richtext caption {
	margin-bottom:6px;
	text-align:center;
}
.richtext p,.richtext fieldset,.richtext table,.richtext pre {
	margin-bottom:6px;
}
.richtext img {
	vertical-align:bottom;
}
.bb-g {
	letter-spacing:-0.31em;
	*letter-spacing:normal;
	word-spacing:-0.43em;
}
.bb-u,.bb-u-1,.bb-u-1-2,.bb-u-1-3,.bb-u-2-3,.bb-u-1-4,.bb-u-3-4,.bb-u-1-5,.bb-u-2-5,.bb-u-3-5,.bb-u-4-5,.bb-u-1-6,.bb-u-5-6,.bb-u-1-8,.bb-u-3-8,.bb-u-5-8,.bb-u-7-8,.bb-u-1-12,.bb-u-5-12,.bb-u-7-12,.bb-u-11-12,.bb-u-1-24,.bb-u-5-24,.bb-u-7-24,.bb-u-11-24,.bb-u-13-24,.bb-u-17-24,.bb-u-19-24,.bb-u-23-24 {
	display:inline-block;
	zoom:1;
	*display:inline;
	letter-spacing:normal;
	word-spacing:normal;
	vertical-align:top;
}
.bb-u-1 {
	display:block;
}
.bb-u-1-2 {
	width:50%;
}
.bb-u-1-3 {
	width:33.33333%;
}
.bb-u-2-3 {
	width:66.66666%;
}
.bb-u-1-4 {
	width:25%;
}
.bb-u-3-4 {
	width:75%;
}
.bb-u-1-5 {
	width:20%;
}
.bb-u-2-5 {
	width:40%;
}
.bb-u-3-5 {
	width:60%;
}
.bb-u-4-5 {
	width:80%;
}
.bb-u-1-6 {
	width:16.656%;
}
.bb-u-5-6 {
	width:83.33%;
}
.bb-u-1-8 {
	width:12.5%;
}
.bb-u-3-8 {
	width:37.5%;
}
.bb-u-5-8 {
	width:62.5%;
}
.bb-u-7-8 {
	width:87.5%;
}
.bb-u-1-12 {
	width:8.3333%;
}
.bb-u-5-12 {
	width:41.6666%;
}
.bb-u-7-12 {
	width:58.3333%;
}
.bb-u-11-12 {
	width:91.6666%;
}
.bb-u-1-24 {
	width:4.1666%;
}
.bb-u-5-24 {
	width:20.8333%;
}
.bb-u-7-24 {
	width:29.1666%;
}
.bb-u-11-24 {
	width:45.8333%;
}
.bb-u-13-24 {
	width:54.1666%;
}
.bb-u-17-24 {
	width:70.8333%;
}
.bb-u-19-24 {
	width:79.1666%;
}
.bb-u-23-24 {
	width:95.8333%;
}
body {
	font:12px/1.5 arial,helvetica,sans-serif;
	text-align:center;
	color:#333;
	background:#F2F8FE;
}
#wrapper {
	width:100%;
	margin:0 auto;
	zoom:1;
}
#bd {
	margin:auto;
	width:960px;
	min-width:960px;
	text-align:left;
	zoom:1;
}
#main {
	width:100%;
}
.bb-t1,.bb-t2,.bb-t3,.bb-t4,.bb-t5,.bb-t6 {
	*zoom:1;
}
.bb-t1:after,.bb-t2:after,.bb-t3:after,.bb-t4:after,.bb-t5:after,.bb-t6:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.bb-t1 #aside {
	float:left;
	width:120px;
}
.bb-t1 #main {
	float:right;
	margin-left:-120px;
}
.bb-t1 #main .inner {
	margin-left:135px;
}
.bb-t2 #aside {
	float:right;
	width:78px;
}
.bb-t2 #main {
	float:left;
	margin-right:-78px;
}
.bb-t2 #main .inner {
	margin-right:90px;
}
.bb-t3 #aside {
	float:left;
	width:120px;
}
.bb-t3 #main {
	float:right;
	margin-left:-120px;
}
.bb-t3 #main .inner {
	margin-left:160px;
}
.bb-t4 #aside {
	float:right;
	width:220px;
}
.bb-t4 #main {
	float:left;
	margin-right:-220px;
}
.bb-t4 #main .inner {
	margin-right:240px;
}
.bb-t6 #aside {
	float:left;
	width:160px;
}
.bb-t6 #main {
	float:right;
	margin-left:-160px;
}
.bb-t6 #main .inner {
	margin-left:160px;
}
a {
	color:#1F4D89;
	text-decoration:none;
}
a:hover,a:active,a:focus {
	color:#1F4D89;
	text-decoration:underline;
}
.em,a.em {
	color:#ff4a32;
}
textarea.error {
	background-color:#fff6f5;
	border:1px solid #dd3c10;
}
input.error {
	background-color:#fff6f5;
	border:1px solid #dd3c10;
}
span.emptyhint {
	color:#999;
	position:absolute;
	padding:3px;
}
span.dark-emptyhint {
	display:none;
}
input.button,button {
	font-size:100%;
	overflow:visible;
	*padding-top:3px;
	*padding-left:8px;
	*padding-right:8px;
}
.drag-proxy {
	display:none;
	position:absolute;
	z-index:999999;
	border:2px dashed #999;
	background-color:#fff;
}
.proxy-dragging {
	display:block;
}
.cls:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.cls {
	zoom:1;
}

.nojs {
	width:100%px;
	border:1px solid #ffe574;
	font-size:14px;
	font-weight:bold;
	background-color:#feffb1;
}
.nojs p {
	width:930px;
	padding:4px 0 4px 30px;
	background:url(images/ico-nojs.gif) 12px center no-repeat;
	margin:0 auto;
	text-align:left;
}
#header,#footer {
	width:100%;
	margin:0 auto;
	zoom:1;
}
#wrapper {
	background:#F2F8FE;
	padding-bottom:20px;
}
.global-header,.sub-global-header {
	width:100%;
}
.global-header-inner,.sub-global-header-inner {
	width:980px;
	margin:0 auto;
	text-align:left;
	zoom:1;
}
.global-header-inner:after,.sub-global-header-inner:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.global-header {
	height:28px;
	line-height:28px;
	background-color:#f2f2f2;
}
.sub-global-header {
	height:42px;
	line-height:42px;
	background:#f1f1f1 url(images/bg_hds.png) 0 -696px repeat-x;
}
.global-header-inner,.sub-global-header-inner {
	position:relative;
	z-index:30;
}
.gl-top-tips .tips,.new-gl-top-tips .tips {
	padding-top:0;
	width:194px;
}
.gl-top-tips .tips-list,.new-gl-top-tips .tips-list {
	margin:-6px auto 0;
	padding:5px 14px 2px;
	overflow:hidden;
}
#header .gl-top-tips .tips-list li,#header .new-gl-top-tips .tips-list li {
	display:block;
	float:left;
	width:100%;
	border-top:1px solid #e6e6e6;
	line-height:28px;
}
#header .gl-top-tips .tips-list li a,#header .gl-top-tips .tips-list li a:hover,#header .new-gl-top-tips .tips-list li a,#header .new-gl-top-tips .tips-list li a:hover {
	color:#666;
	padding:0;
}
.gl-top-tips .tips-list li span,.new-gl-top-tips .tips-list li span {
	color:#1F4D89;
}
.gl-top-tips .tips-nav,.new-gl-top-tips .tips-nav {
	overflow:hidden;
}
#header .gl-top-tips .tips-nav li,#header .new-gl-top-tips .tips-nav li {
	display:block;
	width:100%;
	line-height:25px;
}
#header .gl-top-tips .tips-nav li a,#header .gl-top-tips .tips-nav li a:hover,#header .new-gl-top-tips .tips-nav li a,#header .new-gl-top-tips .tips-nav li a:hover {
	border:none;
	display:block;
	height:25px;
	line-height:25px;
	color:#333;
	vertical-align:middle;
	padding-left:14px;
	text-decoration:none;
}
.gl-top-tips .tips-nav li a:hover,.new-gl-top-tips .tips-nav li a:hover {
	background:#ebebeb;
}
.gl-top-tips,.new-gl-top-tips {
	position:absolute;
	right:0;
	top:26px;
	z-index:30;
}
.new-gl-top-tips {
	left:676px;
	width:194px;
}
#header .person {
	position:relative;
	float:right;
	height:28px;
	line-height:28px;
}
#header .person a,#header .person a:hover {
	display:inline-block;
	*display:inline;
	*zoom:1;
	color:#666;
	padding:0 6px 0 6px;
	white-space:nowrap;
}
#header .person li {
	display:inline;
	float:right;
}
#header .person .top-mess,#header .person .top-user {
	position:relative;
	padding:0;
	z-index:30;
}
#header .person .top-user .user {
	width:84px;
	_width:94px;
}
#header .person .top-mess .mess,#header .person .top-user .user,#header .person .top-mess .mess:hover,#header .person .top-user .user:hover {
	padding:0 20px 0 6px;
	height:28px;
	line-height:28px;
}
#header .person .top-user .user,#header .person .top-user .user:hover {
	_padding-right:10px;
}
#header .person .top-mess .mess:hover,#header .person .top-user .user:hover {
	background:#ccc;
	line-height:28px;
}
#header .person .top-user img {
	display:block;
	float:left;
	vertical-align:middle;
	margin:5px 3px 0 0;
}
#header .person .mess i,#header .person .user i {
	position:absolute;
	display:block;
	right:8px;
	top:12px;
	border-color:#b1b3b1 transparent transparent transparent;
	border-style:solid;
	border-width:4px 4px 0 4px;
	width:0;
	height:0;
	padding:0;
	font-size:0;
	line-height:0;
	margin-left:6px;
	_border-top-color:#b1b3b1;
	_border-left-color:#f2f2f2;
	_border-right-color:#f2f2f2;
	_border-bottom-color:#f2f2f2;
}
#header .person .mess:hover i,#header .person .user:hover i {
	_border-left-color:#ccc;
	_border-right-color:#ccc;
	_border-bottom-color:#ccc;
}
#header .person .user-curr .user,#header .person .mess-curr .mess,#header .person .user-curr .user:hover,#header .person .mess-curr .mess:hover {
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:1px solid #ccc;
	height:26px;
	line-height:26px;
	border-bottom:none;
	overflow:hidden;
	padding:0 19px 0 5px;
	background:#fff;
	position:relative;
	z-index:31;
}
#header .person .user-curr .user,#header .person .user-curr .user:hover {
	_padding-right:9px;
}
#header .person .user-curr img {
	display:block;
	float:left;
	vertical-align:middle;
	margin:4px 3px 0 0;
}
#header .person .user-curr .user i,#header .person .mess-curr .mess i {
	top:11px;
	right:7px;
}
#header .person .user-curr .user i,#header .person .mess-curr .mess i,#header .person .user-curr .user:hover i,#header .person .mess-curr .mess:hover i {
	_border-left-color:#fff;
	_border-right-color:#fff;
	_border-bottom-color:#fff;
}
.global-header .cate-nav {
	float:left;
	color:#ccc;
}
.global-header .cate-nav li {
	display:inline;
	float:left;
	padding:0 8px 0 0;
}
.global-header .cate-nav li a,.global-header .cate-nav li a:hover {
	margin:0 8px 0 0;
	color:#666;
}
.global-header .login-nav {
	float:right;
	color:#ccc;
}
.global-header .login-nav li {
	display:inline;
	float:left;
	padding:0 0 0 8px;
}
.global-header .login-nav li a,.global-header .login-nav li a:hover {
	margin:0 8px 0 0;
	color:#666;
}
.global-header .login-nav .collect {
	padding:0;
	margin:0;
}
.global-header .login-nav .collect a,.global-header .login-nav .collect a:hover {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:64px;
	height:18px;
	line-height:18px;
	background:url(images/ico_nav.png) 0 0;
	padding-left:20px;
	color:#999;
	_margin-top:5px;
}


.sub-global-header .cate-nav {
	float:left;
	color:#ccc;
	margin-left:12px;
}
.sub-global-header .cate-nav li {
	display:inline;
	float:left;
	padding:0 8px 0 0;
}
.sub-global-header .cate-nav li a,.sub-global-header .cate-nav li a:hover {
	margin:0 8px 0 0;
	color:#666;
}
.sub-global-header .logo {
	float:left;
}
.sub-global-header .logo a {
	display:block;
	width:134px;
	height:42px;
	overflow:hidden;
	text-indent:-999em;
	background:url(images/logo.png) no-repeat;
}
.sub-global-header .login-nav {
	float:right;
	color:#ccc;
}
.sub-global-header .login-nav li {
	display:inline;
	float:left;
	padding:0 0 0 8px;
}
.sub-global-header .login-nav li a,.sub-global-header .login-nav li a:hover {
	margin:0 8px 0 0;
	color:#666;
}
.sub-global-header .login-nav .collect {
	padding:0;
	margin:0;
	_margin-top:12px;
}
.sub-global-header .login-nav .collect a,.sub-global-header .login-nav .collect a:hover {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:64px;
	height:18px;
	line-height:18px;
	background:url(images/ico_nav.png) 0 0;
	padding-left:20px;
	color:#999;
}
#header .sub-global-header .person {
	margin-top:10px;
}
.sub-global-header-inner .new-gl-top-tips {
	top:37px;
}

#footer .global-footer,#footer .copyright {
	width:100%;
}
#footer .global-footer-inner {
	width:980px;
	padding:16px 0;
	margin:0 auto;
	text-align:left;
	zoom:1;
	line-height:20px;
}
#footer .global-footer-inner:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#footer .copyright-inner {
	width:960px;
	margin:0 auto;
	padding:12px 0;
	line-height:22px;
}
#footer .global-footer .list {
	display:inline;
	float:left;
	width:180px;
	margin-left:16px;
}
#footer .global-footer .list dt {
	font-weight:bold;
	color:#727272;
}
#footer .global-footer a,#footer .global-footer a:hover,#footer .global-footer a:active {
	color:#989898;
}
#footer .copyright-url {
	color:#575958;
	margin-bottom:8px;
}
#footer .copyright-url a,#footer .copyright-url a:hover,#footer .copyright-url a:active {
	color:#999;
	margin:0 10px;
}
#footer .copyright-info,#footer .copyright-info span,#footer .copyright-info a,#footer .copyright-info a:hover,#footer .copyright-info a:active {
	color:#737373;
	margin:0 5px;
}
#footer .copyright-sm {
	background:none;
}
#footer .copyright-sm .copyright-inner {
	padding:24px 0 54px;
}
#footer .copyright-sm .copyright-url {
	color:#ccc;
}
#footer .copyright-sm .copyright-info,#footer .copyright-sm .copyright-info a,#footer .copyright-sm .copyright-info a:hover,#footer .copyright-sm .copyright-info a:active {
	color:#999;
}
.global-footer,.copyright {
	background:#fff;
}
.global-footer-inner {
	background:url(images/footer-line.png) 0 bottom no-repeat;
}
.global-footer .serves {
	padding-left:24px;
	background:url(images/ico-footer-seves.png) no-repeat;
	color:#999;
}
.global-footer .serve-1 span {
	font-size:11px;
	font-family:"\5b8b\4f53",Arial;
}
.global-footer .serve-1 {
	background-position:0 4px;
}
.global-footer .serve-2 {
	background-position:0 -19px;
}
.global-footer .serve-3 {
	background-position:0 -43px;
}

#footer .unlogin-footer {
	color:#999;
	line-height:25px;
	padding-bottom:10px;
}
#footer .unlogin-footer a,#footer .unlogin-footer a:hover,#footer .unlogin-footer a:active {
	color:#999;
	margin:0 5px;
}
#footer .unlogin-footer .copyright-url {
	color:#ccc;
}
#footer .unlogin-footer .copyright-info span,#footer .unlogin-footer .copyright-info a,#footer .unlogin-footer .copyright-info a:hover,#footer .unlogin-footer .copyright-info a:active {
	color:#999;
	margin:0 3px;
}
.tips {
	position:relative;
	text-align:left;
	padding-top:8px;
	padding-bottom:3px;
	_overflow-y:hidden;
}
.tips .hd {
	zoom:1;
}
.tips .cue,.tips .sd,.tips .tips-close,.tips .resize {
	z-index:3;
}
.tips .tips-close {
	cursor:pointer;
}
.tips .resize {
	position:absolute;
	right:0;
	bottom:0;
	width:10px;
	height:10px;
}
.tips-t1 {
	position:relative;
	zoom:1;
	z-index:0;
}
.tips-t1 .tips-content {
	position:relative;
	z-index:2;
	border:1px solid #e0e0e0;
	background:#fff;
}
.tips-t1 .tips-content .hd {
	background-color:#fafafa;
	height:31px;
	border-bottom:1px solid #ebebeb;
	zoom:1;
}
.tips-t1 .tips-content .hd h3 {
	font-size:14px;
	font-weight:bold;
	color:#333;
	padding:4px 0 4px 15px;
}
.tips-t1 .tips-content .ft {
	background:#fff;
	text-align:right;
	padding-bottom:15px;
}
.tips-t1 .sd {
	display:block;
	background:#999;
	width:100%;
	height:100%;
	_height:10000px;
	position:absolute;
	top:3px;
	left:3px;
	z-index:-1;
	opacity:.10;
	filter:alpha(opacity="10");
}
.tips-t1 .tips-close {
	width:9px;
	height:9px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(images/bg_tips.png) 0 -39px no-repeat;
	position:absolute;
	top:10px;
	right:10px;
}
.tips-t1 .cue {
	width:17px;
	height:9px;
	overflow:hidden;
	background:url(images/bg_tips.png) 0 0 no-repeat;
	position:absolute;
	z-index:5;
	left:180px;
	top:-8px;
}
.tips-t2 {
	position:relative;
	zoom:1;
	z-index:0;
}
.tips-t2 .tips-content {
	position:relative;
	z-index:2;
	border:1px solid #ccc;
	background:#fff;
}
.tips-t2 .tips-content .hd {
	background-color:#fafafa;
	height:31px;
	border-bottom:1px solid #ebebeb;
	zoom:1;
}
.tips-t2 .tips-content .hd h3 {
	font-size:14px;
	font-weight:bold;
	color:#333;
	padding:4px 0 4px 15px;
}
.tips-t2 .tips-content .ft {
	background:#cbe5f2;
	text-align:center;
}
.tips-t2 .tips-content .ft button {
	margin:3px 5px;
	font-size:14px;
	padding:0 8px;
	cursor:pointer;
}
.tips-t2 .sd {
	display:block;
	background:#999;
	width:100%;
	height:100%;
	_height:10000px;
	position:absolute;
	top:3px;
	left:3px;
	z-index:-1;
	opacity:.10;
	filter:alpha(opacity="10");
}
.tips-t2 .tips-close {
	width:9px;
	height:9px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(images/bg_tips.png) 0 -39px no-repeat;
	position:absolute;
	top:10px;
	right:10px;
}
.tips-t2 .cue {
	width:6px;
	height:12px;
	background:url(images/bg_tips.png) -5px -61px no-repeat;
	position:absolute;
	z-index:5;
	right:-5px;
	_right:-6px;
	top:19px;
}
.tips-t3 {
	position:relative;
	zoom:1;
	z-index:0;
}
.tips-t3 .tips-content {
	position:relative;
	z-index:2;
	border:1px solid #ccc;
	background:#fff;
}
.tips-t3 .tips-content .hd {
	background-color:#fafafa;
	height:31px;
	border-bottom:1px solid #ebebeb;
	zoom:1;
}
.tips-t3 .tips-content .hd h3 {
	font-size:14px;
	font-weight:bold;
	color:#333;
	padding:4px 0 4px 15px;
}
.tips-t3 .tips-content .ft {
	background:#cbe5f2;
	text-align:center;
}
.tips-t3 .tips-content .ft button {
	margin:3px 5px;
	font-size:14px;
	padding:0 8px;
	cursor:pointer;
}
.tips-t3 .sd {
	display:block;
	background:#999;
	width:100%;
	height:100%;
	_height:10000px;
	position:absolute;
	top:3px;
	left:3px;
	z-index:-1;
	opacity:.10;
	filter:alpha(opacity="10");
}
.tips-t3 .tips-close {
	width:9px;
	height:9px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(images/bg_tips.png) 0 -39px no-repeat;
	position:absolute;
	top:10px;
	right:10px;
}
.tips-t3 .cue {
	width:17px;
	height:8px;
	background:url(images/bg_tips.png) 0 -8px no-repeat;
	position:absolute;
	z-index:5;
	left:30px;
	bottom:-7px;
	_bottom:-14px;
}
.tips-t4 {
	position:relative;
	zoom:1;
	z-index:0;
}
.tips-t4 .tips-content {
	position:relative;
	z-index:2;
	border:1px solid #ccc;
	background:#fff;
}
.tips-t4 .tips-content .hd {
	background-color:#fafafa;
	height:31px;
	border-bottom:1px solid #ebebeb;
	zoom:1;
}
.tips-t4 .tips-content .hd h3 {
	font-size:14px;
	font-weight:bold;
	color:#333;
	padding:4px 0 4px 15px;
}
.tips-t4 .tips-content .ft {
	background:#cbe5f2;
	text-align:center;
}
.tips-t4 .tips-content .ft button {
	margin:3px 5px;
	font-size:14px;
	padding:0 8px;
	cursor:pointer;
}
.tips-t4 .sd {
	display:block;
	background:#999;
	width:100%;
	height:100%;
	_height:10000px;
	position:absolute;
	top:3px;
	left:3px;
	z-index:-1;
	opacity:.10;
	filter:alpha(opacity="10");
}
.tips-t4 .tips-close {
	width:9px;
	height:9px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(images/bg_tips.png) 0 -39px no-repeat;
	position:absolute;
	top:10px;
	right:10px;
}
.tips-t4 .cue {
	width:6px;
	height:12px;
	background:url(images/bg_tips.png) 0 -61px no-repeat;
	position:absolute;
	z-index:5;
	left:-5px;
	top:19px;
}
.btns,.btns:link,.btns:visited,.btns:hover,.btns:active {
	display:inline-block;
	padding-left:2px;
	text-decoration:none;
}
.btns span {
	display:inline-block;
	cursor:pointer;
}
.btn-t0 {
	background:#ebebeb;
	border:1px solid #dbdbdb;
	color:#b3b3b3;
	padding:1px 8px;
	*padding:5px 8px 1px;
	display:inline-block;
	*display:inline;
	height:18px;
	border-radius:1px 1px 1px 1px;
}
.btn-t1 {
	color:#fff;
	font-size:14px;
	background:url(images/bg_btn.png) 0 0 no-repeat #2760AE;
}
.btn-t1:link,.btn-t1:visited {
	background-position:0 0;
	color:#fff;
}
.btn-t1:hover {
	background-position:0 -33px;
	color:#fff;
}
.btn-t1:active {
	background-position:0 -66px;
	color:#fff;
}
.btn-t1 span,.btn-t1:link span,.btn-t1:visited span {
	height:20px;
	line-height:20px;
	*line-height:22px;
	padding:6px 20px 6px 18px;
	_padding:6px 20px 4px 18px;
	background:url(images/bg_btn.png) right 0 no-repeat #2760AE;
}
.btn-t1:hover span {
	background-position:right -33px;
}
.btn-t1:active span {
	background-position:right -66px;
}
.btn-t2 {
	color:#fff;
	font-size:12px;
	background:url(images/bg_btn.png) 0 -100px no-repeat #2760AE;
}
.btn-t2:link,.btn-t2:visited {
	background-position:0 -100px;
	color:#fff;
}
.btn-t2:hover {
	background-position:0 -129px;
	color:#fff;
}
.btn-t2:active {
	background-position:0 -158px;
	color:#fff;
}
.btn-t2 span,.btn-t2:link span,.btn-t2:visited span {
	height:18px;
	line-height:18px;
	*line-height:20px;
	padding:5px 20px 5px 18px;
	_padding:5px 20px 3px 18px;
	background:url(images/bg_btn.png) right -100px no-repeat #2760AE;
}
.btn-t2:hover span {
	background-position:right -129px;
}
.btn-t2:active span {
	background-position:right -158px;
}
.btn-t3 {
	color:#666;
	font-size:14px;
	background:url(images/bg_btn.png) 0 -188px no-repeat #fafafa;
}
.btn-t3:link,.btn-t3:visited {
	background-position:0 -188px;
	color:#666;
}
.btn-t3:hover {
	background-position:0 -221px;
	color:#666;
}
.btn-t3:active {
	background-position:0 -254px;
	color:#666;
}
.btn-t3 span,.btn-t3:link span,.btn-t3:visited span {
	height:20px;
	line-height:20px;
	*line-height:22px;
	padding:6px 20px 6px 18px;
	_padding:6px 20px 4px 18px;
	background:url(images/bg_btn.png) right -188px no-repeat #fafafa;
}
.btn-t3:hover span {
	background-position:right -221px;
}
.btn-t3:active span {
	background-position:right -254px;
}
.btn-t4 {
	color:#666;
	font-size:12px;
	background:url(images/bg_btn.png) 0 -288px no-repeat #fafafa;
}
.btn-t4:link,.btn-t4:visited {
	background-position:0 -288px;
	color:#666;
}
.btn-t4:hover {
	background-position:0 -317px;
	color:#666;
}
.btn-t4:active {
	background-position:0 -346px;
	color:#666;
}
.btn-t4 span,.btn-t4:link span,.btn-t4:visited span {
	height:18px;
	line-height:18px;
	*line-height:20px;
	padding:5px 20px 5px 18px;
	_padding:5px 20px 3px 18px;
	background:url(images/bg_btn.png) right -288px no-repeat #fafafa;
}
.btn-t4:hover span {
	background-position:right -317px;
}
.btn-t4:active span {
	background-position:right -346px;
}
.btn-t5 {
	color:#666;
	font-size:12px;
	background:url(images/bg_btn.png) 0 -288px no-repeat #fafafa;
}
.btn-t5:link,.btn-t5:visited {
	background-position:0 -288px;
	color:#666;
}
.btn-t5:hover {
	background-position:0 -129px;
	color:#fff;
}
.btn-t5:active {
	background-position:0 -158px;
	color:#fff;
}
.btn-t5 span,.btn-t5:link span,.btn-t5:visited span {
	height:18px;
	line-height:18px;
	*line-height:20px;
	padding:5px 20px 5px 18px;
	_padding:5px 20px 3px 18px;
	background:url(images/bg_btn.png) right -288px no-repeat #fafafa;
}
.btn-t5:hover span {
	background-position:right -129px;
}
.btn-t5:active span {
	background-position:right -158px;
}
.btn-t6 {
	color:#fff;
	font-size:12px;
	background:url(images/bg_btn.png) 0 -442px no-repeat #6cb027;
}
.btn-t6:link,.btn-t6:visited {
	background-position:0 -442px;
	color:#fff;
}
.btn-t6:hover {
	background-position:0 -463px;
	color:#fff;
}
.btn-t6:active {
	background-position:0 -484px;
	color:#fff;
}
.btn-t6 span,.btn-t6:link span,.btn-t6:visited span {
	height:18px;
	line-height:18px;
	*line-height:18px;
	padding:1px 14px 1px 12px;
	*padding:2px 14px 0 12px;
	background:url(images/bg_btn.png) right -442px no-repeat #6cb027;
}
.btn-t6:hover span {
	background-position:right -463px;
}
.btn-t6:active span {
	background-position:right -484px;
}
.btn-t7 {
	color:#666;
	font-size:12px;
	background:url(images/bg_btn.png) 0 -505px no-repeat #fafafa;
}
.btn-t7:link,.btn-t7:visited {
	background-position:0 -505px;
	color:#666;
}
.btn-t7:hover {
	background-position:0 -526px;
	color:#666;
}
.btn-t7:active {
	background-position:0 -547px;
	color:#666;
}
.btn-t7 span,.btn-t7:link span,.btn-t7:visited span {
	height:18px;
	line-height:18px;
	*line-height:18px;
	padding:1px 14px 1px 12px;
	*padding:2px 14px 0 12px;
	background:url(images/bg_btn.png) right -505px no-repeat #6cb027;
}
.btn-t7:hover span {
	background-position:right -526px;
}
.btn-t7:active span {
	background-position:right -547px;
}
.btn-follow-20-add,.btn-follow-20-plus,.btn-follow-20-end,.btn-follow-20-each {
	background:url(images/btn_ico.png) no-repeat;
	display:inline-block;
	width:68px;
	height:20px;
	line-height:20px;
	cursor:pointer;
	text-align:left;
}
.btn-follow-20-add {
	background-position:0 0;
	color:#fff;
}
.btn-follow-20-plus {
	background-position:-69px 0;
	color:#1F4D89;
}
.btn-follow-20-end,.btn-follow-20-end:link,.btn-follow-20-end:visited,.btn-follow-20-end:hover,.btn-follow-20-end:active {
	background-position:-69px -21px;
	color:#999;
	text-decoration:none;
	cursor:default;
}
.btn-follow-20-each,.btn-follow-20-each:link,.btn-follow-20-each:visited,.btn-follow-20-each:hover,.btn-follow-20-each:active {
	background-position:-69px -42px;
	color:#999;
	width:80px;
	text-decoration:none;
	cursor:default;
}
body:not(:-moz-handler-blocked) .btn-follow-20-add,body:not(:-moz-handler-blocked) .btn-follow-20-plus,body:not(:-moz-handler-blocked) .btn-follow-20-end,body:not(:-moz-handler-blocked) .btn-follow-20-each {
	line-height:19px;
}
.btn-follow-20-add:link,.btn-follow-20-add:visited {
	background-position:0 0;
	color:#fff;
	text-decoration:none;
}
.btn-follow-20-plus:link,.btn-follow-20-plus:visited {
	background-position:-69px 0;
	color:#1F4D89;
	text-decoration:none;
}
.btn-follow-20-add:hover,.btn-follow-20-plus:hover {
	background-position:0 -21px;
	color:#fff;
	text-decoration:none;
}
.btn-follow-20-add:active,.btn-follow-20-plus:active {
	background-position:0 -42px;
	color:#fff;
	text-decoration:none;
}
.btn-follow-20-add span,.btn-follow-20-plus span {
	margin-left:23px;
	*vertical-align:baseline;
}
.btn-follow-20-end span {
	margin-left:24px;
	*vertical-align:baseline;
}
.btn-follow-20-each span {
	margin-left:25px;
	*vertical-align:baseline;
}
.btn-follow-22-add,.btn-follow-22-plus,.btn-follow-22-end,.btn-follow-22-each {
	background:url(images/btn_ico.png) no-repeat;
	display:inline-block;
	width:68px;
	height:22px;
	line-height:22px;
	cursor:pointer;
	text-align:left;
}
.btn-follow-22-add {
	background-position:0 -72px;
	color:#1F4D89;
}
.btn-follow-22-plus {
	background-position:-69px -72px;
	color:#1F4D89;
	width:91px;
}
.btn-follow-22-end,.btn-follow-22-end:link,.btn-follow-22-end:visited,.btn-follow-22-end:hover,.btn-follow-22-end:active {
	background-position:-161px -72px;
	color:#999;
	text-decoration:none;
	cursor:default;
}
.btn-follow-22-each,.btn-follow-22-each:link,.btn-follow-22-each:visited,.btn-follow-22-each:hover,.btn-follow-22-each:active {
	background-position:-161px -95px;
	color:#999;
	text-decoration:none;
	cursor:default;
	width:82px;
}
body:not(:-moz-handler-blocked) .btn-follow-22-add,body:not(:-moz-handler-blocked) .btn-follow-22-plus,body:not(:-moz-handler-blocked) .btn-follow-22-end,body:not(:-moz-handler-blocked) .btn-follow-22-each {
	line-height:21px;
}
.btn-follow-22-add:link,.btn-follow-22-add:visited {
	background-position:0 -72px;
	color:#1F4D89;
	text-decoration:none;
}
.btn-follow-22-add:hover {
	background-position:0 -95px;
	color:#fff;
	text-decoration:none;
}
.btn-follow-22-add:active {
	background-position:0 -118px;
	color:#fff;
	text-decoration:none;
}
.btn-follow-22-plus:link,.btn-follow-22-plus:visited {
	background-position:-69px -72px;
	color:#1F4D89;
	text-decoration:none;
}
.btn-follow-22-plus:hover {
	background-position:-69px -95px;
	color:#fff;
	text-decoration:none;
}
.btn-follow-22-plus:active {
	background-position:-69px -118px;
	color:#fff;
	text-decoration:none;
}
.btn-follow-22-add span {
	margin-left:23px;
	*vertical-align:baseline;
}
.btn-follow-22-plus span {
	margin-left:46px;
	*vertical-align:baseline;
}
.btn-follow-22-end span {
	margin-left:24px;
	*vertical-align:baseline;
}
.btn-follow-22-each span {
	margin-left:25px;
	*vertical-align:baseline;
}
.btn-follow-22-each-cancel,.btn-follow-22-end-cancel {
	width:82px;
	text-align:right;
	margin-top:4px;
}
.btn-follow-22-each-cancel a,.btn-follow-22-each-cancel a:hover,.btn-follow-22-each-cancel a:active,.btn-follow-22-end-cancel a,.btn-follow-22-end-cancel a:hover,.btn-follow-22-end-cancel a:active {
	margin-right:10px;
	color:#999;
}
.btn-follow-22-each-cancel {
	width:82px;
}
.btn-follow-22-end-cancel {
	width:68px;
}
.btn-follow-26-add,.btn-follow-26-plus,.btn-follow-26-end,.btn-follow-26-each,.btn-follow-26-end-noop,.btn-follow-26-each-noop {
	background:url(images/btn_ico.png) no-repeat;
	display:inline-block;
	width:80px;
	height:26px;
	line-height:26px;
	cursor:pointer;
	font-weight:bold;
	text-align:left;
}
.btn-follow-26-add {
	background-position:0 -150px;
	color:#fff;
}
.btn-follow-26-plus {
	background-position:-81px -150px;
	color:#1F4D89;
	width:100px;
}
.btn-follow-26-end {
	background-position:0 -231px;
	width:116px;
	color:#999;
	font-weight:normal;
	cursor:default;
}
.btn-follow-26-each {
	background-position:0 -258px;
	width:126px;
	color:#999;
	font-weight:normal;
	cursor:default;
}
.btn-follow-26-end-noop {
	background-position:0 -285px;
	width:85px;
	color:#999;
	font-weight:normal;
	cursor:default;
}
.btn-follow-26-each-noop {
	background-position:0 -312px;
	width:93px;
	color:#999;
	font-weight:normal;
	cursor:default;
}
body:not(:-moz-handler-blocked) .btn-follow-26-add,body:not(:-moz-handler-blocked) .btn-follow-26-plus,body:not(:-moz-handler-blocked) .btn-follow-26-end,body:not(:-moz-handler-blocked) .btn-follow-26-each,body:not(:-moz-handler-blocked) .btn-follow-26-end-noop,body:not(:-moz-handler-blocked) .btn-follow-26-each-noop {
	line-height:25px;
}
.btn-follow-26-add:link,.btn-follow-26-add:visited {
	background-position:0 -150px;
	color:#fff;
	text-decoration:none;
}
.btn-follow-26-add:hover {
	background-position:0 -177px;
	color:#fff;
	text-decoration:none;
}
.btn-follow-26-add:active {
	background-position:0 -204px;
	color:#fff;
	text-decoration:none;
}
.btn-follow-26-plus:link,.btn-follow-26-plus:visited {
	background-position:-81px -150px;
	color:#fff;
	text-decoration:none;
}
.btn-follow-26-plus:hover {
	background-position:-81px -177px;
	color:#fff;
	text-decoration:none;
}
.btn-follow-26-plus:active {
	background-position:-81px -204px;
	color:#fff;
	text-decoration:none;
}
.btn-follow-26-add span {
	margin-left:29px;
}
.btn-follow-26-plus span {
	margin-left:51px;
}
.btn-follow-26-end span,.btn-follow-26-end-noop span {
	margin-left:31px;
}
.btn-follow-26-end .follow-cancel {
	margin-left:16px;
}
.btn-follow-26-each span,.btn-follow-26-each-noop span {
	margin-left:31px;
}
.btn-follow-26-each .follow-cancel {
	margin-left:15px;
}
.btn-default-32 {
	color:#b3b3b3;
	font-size:14px;
	background:url(images/bg_btn.png) 0 -577px no-repeat #f0f0f0;
}
.btn-default-32:link,.btn-default-32:visited,.btn-default-32:hover,.btn-default-32:active {
	background-position:0 -577px;
	color:#b3b3b3;
}
.btn-default-32 span,.btn-default-32:link span,.btn-default-32:visited span,.btn-default-32:hover span,.btn-default-32:active span {
	height:20px;
	line-height:20px;
	*line-height:22px;
	padding:6px 20px 6px 18px;
	_padding:6px 20px 4px 18px;
	background:url(images/bg_btn.png) right -577px no-repeat #f0f0f0;
}
.btn-default-28 {
	color:#b3b3b3;
	font-size:12px;
	background:url(images/bg_btn.png) 0 -610px no-repeat #fafafa;
}
.btn-default-28:link,.btn-default-28:visited,.btn-default-28:hover,.btn-default-28:active {
	background-position:0 -610px;
	color:#b3b3b3;
}
.btn-default-28 span,.btn-default-28:link span,.btn-default-28:visited span,.btn-default-28:hover span,.btn-default-28:active span {
	height:18px;
	line-height:18px;
	*line-height:20px;
	padding:5px 20px 5px 18px;
	_padding:5px 20px 3px 18px;
	background:url(images/bg_btn.png) right -610px no-repeat #fafafa;
}
.btn-default-20 {
	color:#b3b3b3;
	font-size:12px;
	background:url(images/bg_btn.png) 0 -639px no-repeat #fafafa;
}
.btn-default-20:link,.btn-default-20:visited,.btn-default-20:hover,.btn-default-20:active {
	background-position:0 -639px;
	color:#b3b3b3;
}
.btn-default-20 span,.btn-default-20:link span,.btn-default-20:visited span,.btn-default-20:hover span,.btn-default-20:active span {
	height:18px;
	line-height:18px;
	*line-height:20px;
	padding:1px 14px 1px 12px;
	_padding:1px 14px 0 12px;
	background:url(images/bg_btn.png) right -639px no-repeat #fafafa;
}
.mask {
	background:#fff;
	filter:alpha(opacity:75);
	-ms-filter:alpha(opacity:75);
	opacity:.75;
}

.psp-form {
	zoom:1;
	font-size:14px;
}
.psp-form ul li {
	clear:both;
	margin-bottom:13px;
	zoom:1;
	line-height:100%;
}
.psp-form ul li:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.psp-form ul .k {
	display:inline-block;
	*display:inline;
	zoom:1;
	margin-right:4px;
	text-align:right;
	vertical-align:top;
	line-height:30px;
}
.psp-form ul .v {
	margin-right:1px;
	margin-left:-4px;
}
.psp-form ul .v .psp-text,.psp-form ul .v .psp-textarea {
	border:1px solid #ccc;
	padding:6px;
	outline:none;
	_margin-top:-1px;
}
.psp-form ul .v .psp-text {
	height:18px;
}
.psp-form ul .v .psp-textarea {
	resize:none;
	outline:none;
}
.psp-form ul a {
	display:inline-block;
	*display:inline;
	*zoom:1;
	font-size:12px;
	line-height:30px;
	vertical-align:bottom;
}
.psp-form ul .v input.error {
	border:1px solid #dd3c10;
}
.psp-form ul .v textarea.error {
	border:1px solid #dd3c10;
}
.psp-form .btn .btn-default {
	border:1px solid #dbdbdb;
	background:#fafafa;
	color:#ccc;
	font-weight:bold;
	border-radius:3px;
}
.psp-form .btn .btn-reg {
	border:none;
	border:1px solid #225395;
	background:#2760AE;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	border-radius:3px;
}
#wrapper .psp-title h2 span.theme 
{
	margin-left:10px;
	font-size:1px;
	vertical-align:bottom;
	padding:0;
}
#wrapper .psp-title h2 span.theme a.default {
	display:inline-block;
	width:9px;
	height:9px;
	border:none;
	background:url(images/ico_themes.gif) no-repeat 0 0;
	margin-left:2px;
	padding:0;
}
#wrapper .psp-title h2 span.theme a.green {
	display:inline-block;
	width:9px;
	height:9px;
	border:none;
	background:url(images/ico_themes.gif) no-repeat -11px 0;
	margin-left:2px;
	padding:0;
}
.oauth-navbar {
	display:none;
}